@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0.00 0.00% 100.00%;
    --foreground: 151.76 73.91% 4.51%;
    
    --primary: 149.65 72.88% 46.27%;
    --primary-foreground: 151.76 73.91% 4.51%;
    
    --card: 150.00 57.14% 97.25%;
    --card-foreground: 151.76 73.91% 4.51%;
    
    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 151.76 73.91% 4.51%;
    
    --secondary: 148.80 60.98% 91.96%;
    --secondary-foreground: 0.00 0.00% 0.00%;
    
    --muted: 148.24 62.96% 94.71%;
    --muted-foreground: 0.00 0.00% 40.00%;
     
    --accent: 148.24 62.96% 94.71%;
    --accent-foreground: 150.00 72.22% 7.06%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 149.14 63.64% 89.22%;
    --input: 150.00 22.45% 80.78%;
    --ring: 149.65 72.88% 46.27%;
    
    --chart-1: 149.65 72.88% 46.27%;
    --chart-2: 149.80 63.09% 54.31%;
    --chart-3: 149.46 62.92% 65.10%;
    --chart-4: 149.68 62.91% 70.39%;
    --chart-5: 149.61 62.60% 75.88%;
    
    --radius: 0.5rem;    
  }
  .dark {
    --background: 0.00 0.00% 0.00%;
    --foreground: 148.80 60.98% 91.96%;
    
    --primary: 149.65 72.88% 46.27%;
    --primary-foreground: 151.76 73.91% 4.51%;
    
    --card: 145.71 24.14% 5.69%;
    --card-foreground: 148.80 60.98% 91.96%;
    
    --popover: 0.00 0.00% 0.00%;
    --popover-foreground: 148.80 60.98% 91.96%;
    
    --secondary: 150.00 73.17% 16.08%;
    --secondary-foreground: 0.00 0.00% 100.00%;
    
    --muted: 0.00 0.00% 9.80%;
    --muted-foreground: 0.00 0.00% 50.20%;
     
    --accent: 150.00 73.17% 16.08%;
    --accent-foreground: 148.80 60.98% 91.96%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 149.14 74.47% 9.22%;
    --input: 150.00 18.00% 19.61%;
    --ring: 149.65 72.88% 46.27%;
    
    --chart-1: 149.65 72.88% 46.27%;
    --chart-2: 149.59 73.00% 39.22%;
    --chart-3: 149.46 72.73% 30.20%;
    --chart-4: 149.36 72.31% 25.49%;
    --chart-5: 150.00 73.58% 20.78%;
    
    --radius: 0.5rem;  
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
