---
import { Card, CardContent, CardHeader, CardTitle } from "./ui/card";
import { Image } from "astro:assets";
import aboutMe from "@/assets/about-me.webp";
---

<Card className="bg-transparent shadow-none border-none">
  <CardHeader>
    <CardTitle className="text-4xl text-center">Sobre mí</CardTitle>
  </CardHeader>
  <CardContent className="flex flex-col sm:flex-row gap-8 items-center">
    <div class="size-60 md:size-1/3 rounded-xl overflow-hidden">
      <Image src={aboutMe} alt="about me photo" class="object-cover" />
    </div>
    <div
      class="w-full md:w-2/3 md:max-w-lg text-pretty text-base md:text-lg flex flex-col gap-4"
    >
      <p>
        Soy un desarrollador Full Stack con una fuerte pasión por crear
        soluciones tecnológicas que sean funcionales y escalables, siempre
        buscando mejorar la experiencia del usuario.
      </p>
      <p>
        Me encanta trabajar en equipo, ya que considero que la colaboración es
        clave para lograr resultados innovadores, y me adapto con facilidad a
        diferentes entornos de trabajo, lo que me permite integrarme rápidamente
        y aportar valor.
      </p>
      <p>
        Mi objetivo profesional es convertirme en arquitecto de software,
        liderando proyectos innovadores y enfrentando nuevos desafíos que me
        permitan seguir creciendo tanto personal como profesionalmente.
      </p>
    </div>
  </CardContent>
</Card>
