---
import { ThemeToggle } from "./ThemeToggle";
import { Button } from "./ui/button";

const navItems = [
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },

  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:scda.sf04@gmail.com",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a aria-label={link.label} href={link.url}>
          <Button variant="link">{link.title}</Button>
        </a>
      ))
    }
    <ThemeToggle client:load />
  </nav>
</header>
